<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BOOLFLIX</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>

  <!-- Fontawesome  -->
  <script src="https://kit.fontawesome.com/30fc0982d8.js"></script>
  <script type="text/javascript" src="assets/js/fontawesome/font.js"></script>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

  <body>
    <div id="appMoviesSearch" class="app_wrap">
      <header>
        <div class="container">
          <img src="assets/img/logo.png" alt="logo" />
          <h1>🎦 Moves Filter </h1>
          <nav>
            <form method="POST" @submit.prevent="searchMovies()">
              <input type="text" size="40" maxlength="256" v-model="search" placeholder="Search">
              <input type="submit" name="search_button" value="Search">
            </form>
          </nav>
        </div>
      </header>

      <main class="cds-container container">

        <!-- Movies -->
        <section class="movies">
          <!--TopBar - di navigazione tra le pagine di risultati ottenute -->
          <nav class="control_page" v-if="totalPageMovies">
            <ul class="number_page">
              <li class="arrow_left" v-if="totalPageMovies>1" @click="pagePrevious()"><i
                  class="fas fa-arrow-alt-square-left"></i>
              </li><!-- si potrebbe inserire un keydown da collegare all'arrow da tastiera -->
              <li class="number_page_control" v-for="index in totalPageMovies"
                @click="(pageMovies = index-1)&&callAPIMovies()">
                {{index++}}</li>
              <!-- /.page -->
              <li class="arrow_right" v-if="totalPageMovies>1" @click="pageNext()"><i
                  class="fas fa-arrow-alt-square-right"></i>
            </ul>
            <!-- /.number_page -->
          </nav>
          <div class="wrap">
            <!-- Movie Section -->
            <div class="movie" v-for="movie in moviesList">
              <img 
              v-if="movie.poster_path"
              :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" 
              alt="">
              <!-- in caso di immagine non presente logo -->
              <img v-else src="assets/img/logo.png" alt="">
              <h2 class="title_movie" v-if="movie.title != movie.original_title">Titolo: {{movie.title}}</h2>
              <h3 class="original_title_movie" >Titolo originale:
                {{movie.original_title}}</h3><!-- modificare verifica trasformando in maiuscolo -->
              <span class="language_movie">{{movie.author}}</span>
              <div>
                <span class="stars_vote" v-for="(stars,position) in 5">
                  <i :class="movie.vote_average > position ? 'fas fa-star' : 'far fa-star'"></i>
                </span>
                <!-- il richiamare su livelli paralleli il v-for e manipolare lo stesso elemento a volte a vue da problemi perchè vorrebbe riutilizzare una risorsa che è stata sovrascritta e non trova - fonte staff Vue -->          
              </div>
              <span class="flag_movie">{{movie.original_language}}</span>
            </div>
          </div>
          <!-- /.wrap -->
          <!--FooterBar - di navigazione tra le pagine di risultati ottenute -->
          <nav class="control_page" v-if="totalPageMovies">
            <ul class="number_page">
              <li class="arrow_left" v-if="totalPageMovies>1" @click="pagePrevious()"><i
                  class="fas fa-arrow-alt-square-left"></i>
              </li><!-- si potrebbe inserire un keydown da collegare all'arrow da tastiera -->
              <li class="number_page_control" v-for="index in totalPageMovies"
                @click="(pageMovies = index-1)&&callAPIMovies()">{{index++}}
              </li>
              <!-- /.page -->
              <li class="arrow_right" v-if="totalPageMovies>1" @click="pageNext()">
                <i class="fas fa-arrow-alt-square-right"></i>
            </ul>
            <!-- /.number_page -->
          </nav>
          <!-- /.control_page -->
        </section>
        <!-- /.movies -->

        <!-- Serie TV -->
        <section class="serie_tv">
          <!--TopBar - di navigazione tra le pagine di risultati ottenute -->
          <nav class="control_page" v-if="totalPageSerieTV">
            <ul class="number_page">
              <li class="arrow_left" v-if="totalPageSerieTV>1" @click="pagePrevious()"><i
                  class="fas fa-arrow-alt-square-left"></i>
              </li><!-- si potrebbe inserire un keydown da collegare all'arrow da tastiera -->
              <li class="number_page_control" v-for="index in totalPageSerieTV"
                @click="(pageSerieTV = index-1)&&callAPIMovies()">
                {{index++}}</li>
              <!-- /.page -->
              <li class="arrow_right" v-if="totalPageSerieTV>1" @click="pageNext()"><i
                  class="fas fa-arrow-alt-square-right"></i>
            </ul>
            <!-- /.number_page -->
          </nav>
          <!-- Serie TV Section -->
          <div class="wrap">
            <div class="movie" v-for="serie in serieTVList">
              <img v-if="serie.poster_path" :src="'https://image.tmdb.org/t/p/w342' + serie.poster_path" alt="">
              <!-- in caso di immagine non presente logo -->
              <img v-else src="assets/img/logo.png" alt="">
              <h2 class="title_movie" v-if="serie.name != serie.original_name">Titolo: {{serie.name}}</h2>
              <h3 class="original_title_movie">Titolo originale:
                {{serie.original_name}}</h3><!-- modificare verifica trasformando in maiuscolo -->
              <span class="language_movie">{{serie.author}}</span>
              <div>
                <span class="stars_vote" v-for="(stars,position) in 5">
                  <i :class="serie.vote_average > position ? 'fas fa-star' : 'far fa-star'"></i>
                </span>
              </div>
                <!-- il richiamare su livelli paralleli il v-for e manipolare lo stesso elemento a volte a vue da problemi perchè vorrebbe riutilizzare una risorsa che è stata sovrascritta e non trova - fonte staff Vue -->
              <span class="flag_movie">{{serie.original_language}}</span>
            </div>
          </div>
          <!--FooterBar - di navigazione tra le pagine di risultati ottenute -->
          <nav class="control_page" v-if="totalPageSerieTV">
            <ul class="number_page">
              <li class="arrow_left" v-if="totalPageSerieTV>1" @click="pagePreviousSerieTV()"><i
                  class="fas fa-arrow-alt-square-left"></i>
              </li><!-- si potrebbe inserire un keydown da collegare all'arrow da tastiera -->
              <li class="number_page_control" v-for="index in totalPageSerieTV"
                @click="(pageSerieTV = index-1)&&callAPIMovies()">
                {{index++}}
              </li>
              <!-- /.page -->
              <li class="arrow_right" v-if="totalPageSerieTV>1" @click="pageNextSerieTV()">
                <i class="fas fa-arrow-alt-square-right"></i>
            </ul>
            <!-- /.number_page -->
          </nav>
          <!-- /.control_page -->
        </section>
        <!-- /.serie_tv -->

      </main>
    </div>
    <!-- /.app_wrap -->

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/main.js" charset="utf-8"></script>
  </body>

</html>