<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BOOLFLIX</title>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon.icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>

  <!-- Fontawesome  -->
  <script src="https://kit.fontawesome.com/30fc0982d8.js"></script>
  <script type="text/javascript" src="assets/js/fontawesome/font.js"></script>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

  <body>
    <div id="appMoviesSearch" class="app_wrap">
      <header>
        <div class="container bootflixlogo">
          <div class="header_left">
            <a id="logo" href="#home">
              <img src="assets/img/logo.png" alt="logo" />
            </a>
            <nav class="main_nav">
              <a href="#home">Home</a>
              <a href="#tvShows">TV Shows</a>
              <a href="#movies">Movies</a>
              <a href="#originals">Originals</a>
              <a href="#">Recently Added</a>
            </nav>
          </div>
          <!-- /.header_left -->
          <!--  <h1>🎦 Flicks Filter </h1> -->
          <nav class="sub_nav">           
            <transition name="slide-fade">
              <form :class="{show:visible}" method="POST" @submit.prevent="searchMovies()" v-if="visible">
                <input class="search_input"  type="text" size="30" maxlength="200" v-model="search" placeholder="Search">
              </form>             
            </transition>
            <a href="#" @click="visible = !visible"><i class="fas fa-search sub-nav-logo"></i>
            </a>
            <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
            <a href="#">Account</a>
            <a id="logo" href="#home">
              <img id="avatar" src="assets/img/avatar.png" alt="avatar" />
            </a>
          </nav>
        </div>
      </header>
      <!-- END OF HEADER -->

      <!-- MAIN CONTAINER -->

      <main class="cds-container container">
        <section class="category_type" v-for="(category,key,position) in searchResults" :key="key">
          <h2 class="name_type_section">{{category.nameCategory}}</h2>
          <nav class="control_page" v-if="category.results">
            <ul class="number_page">
              <li class="arrow_left" v-if="category.totalPage>1" @click="pagePrevious(category.totalPage)"><i
                  class="fas fa-arrow-alt-square-left"></i>
              </li><!-- si potrebbe inserire un keydown da collegare all'arrow da tastiera -->
              <div class="wrap_numbers">
                <li class="number_page_control" v-for="(index, z) in category.totalPage"
                  @click="changeThisPage(category.totalPage,z)">
                  {{index++}}</li>
                <!-- /.page -->                
              </div>
              <li class="arrow_right" v-if="category.totalPage>1" @click="pageNext(category.totalPage)"><i
                  class="fas fa-arrow-alt-square-right"></i>
            </ul>
            <!-- /.number_page -->
          </nav>
          <ul class="wrap">
            <!-- Movie Section -->
            <li class="movie" v-for="(movie,n) in category.results"
              :style="(!movie.backgroungImgPoster) ? (`background: #000000 url('assets/img/logo.png')
              no-repeat;
              background-size: contain;`) :
              (`background: #000000 url('https://image.tmdb.org/t/p/w220_and_h330_face${movie.backgroungImgPoster}') no-repeat center
              center /cover fixed;
              background-size: cover;
              overflow: hidden;`)">
              <div class="card_info">
                <div v-if="movie.title != movie.originalTitle">
                  <h2 class="title_movie">Titolo: 
                  </h2>
                  <span>{{movie.title}}</span>
                </div>
                
                <h2 class="original_title_movie">Titolo originale: </h2>
                <span>{{movie.originalTitle}}</span>
                <div>
                  <h2>Voto: </h2>
                  <span class="stars_vote" v-for="(stars,position) in 5">
                    <i :class="movie.vote > position ? 'fas fa-star' : 'far fa-star'"></i>
                  </span>
                </div>
                <div class="overview">
                  <h2>Overview: </h2>
                  <p>
                    {{movie.overview}}
                  </p>
                </div>
                <span class="original_lang_movie" v-if="!movie.flag">{{movie.originaleLanguage}}</span>
                <img class="flag" v-else :src="movie.flag" :alt="movie.originaleLanguage">
              </div>
              <!-- /.card_info -->
            </li>
          </ul>
          <nav class="control_page" v-if="category.results">
            <ul class="number_page">
              <li class="arrow_left" v-if="category.totalPage>1" @click="pagePrevious(category.totalPage)"><i
                  class="fas fa-arrow-alt-square-left"></i>
              </li><!-- si potrebbe inserire un keydown da collegare all'arrow da tastiera -->
              <div class="wrap_numbers">
                <li class="number_page_control" v-for="index in category.totalPage"
                  @click="changeThisPage(category.totalPage,z)">
                  {{index++}}</li>
                <!-- /.page -->
              </div>
              <li class="arrow_right" v-if="category.totalPage>1" @click="pageNext(category.totalPage)"><i
                  class="fas fa-arrow-alt-square-right"></i>
            </ul>
            <!-- /.number_page -->
          </nav>
        </section>
        <!-- /.category_type -->
      </main>
    </div>
    <!-- /.app_wrap -->

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/main.js" charset="utf-8"></script>
  </body>
</html>

